<div class= "container-fluid">
<h3> Edit this group</h3>

<%= form_for @group do |f| %>
  <%= f.label_field :group_name%>
  <%= f.text_field :group_name%>



  <%= f.submit "Edit group!" %>

<% end %>

<%= link_to "Back to list of groups", groups_path %>
</div>