<div class="main">
 <div class="container-fluid">
   <h1>past lives</h1>

   <%= form_for(@user)do|f| %>
     <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

     </div>
   <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

     </div>
     <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
     </div>

     <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
     </div>


     <%= f.submit "Create Account", class:"btn" %>

  <% end %>
   </form>
  
  <h3> How it works</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime veritatis debitis dicta recusandae officiis ad nobis asperiores ipsa impedit, voluptas esse ratione inventore nesciunt incidunt illum, accusamus, voluptate libero facere!</p>

 </div>
</div>