<<<<<<< HEAD
 <%= form_tag('/group_story', method: :get)do %>
  
    <div class ="form-group" >
      <%= select_tag "groups", options_from_collection_for_select(@group,"group_name", "group_name") %> 
    </div>
    <%= hidden_field_tag(:id, @story.id) %>
  
      <%= submit_tag "add story to group", class: "btn btn-xs btn-default"%> 
   
=======
<%= form_tag('story.groups', method: :post)do %>
  
  <div class ="form-group" >
    <%= label_tag :group_name %>
    <%= text_field_tag :group_name %>
  </div>
 
    <%= submit_tag "Login", class: "btn btn-lg btn-default"%> 
  <a href="/users/new" class="btn btn-lg btn-default">Signup</a>
>>>>>>> restructure_model
<% end %>