  <!DOCTYPE html>
<html>
<head>
  <title>past lives</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

</head>
<body>



    <div class="container-fluid">
    <%= yield %>
     <nav class = "nav navbar-nav navbar-center"> 
          <% if current_user %>
        
          <li><%=link_to "My Account",users_path %></li>
          <li><%=link_to "My Groups", groups_path %></li>
        
          <li><%=link_to "My Stories","/stories" %></li>
          <li><%= link_to "Logout", '/logout' %></li>
          <strong>Signed in as  <%=current_user.first_name %> <%=current_user.last_name %> </strong>  
     
          <% end %> 
      </nav>
        
     </div>

     
     </div>
   </div>

</body>
</html>