  <!DOCTYPE html>
<html>
<head>
  <title>past lives</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

</head>
<body>



    <%= yield %>
     
          <% if current_user %>
        <button type="button" class="btn btn-default navbar-btn">
          <%=link_to "My Account",users_path %></button>
        <button type="button" class="btn btn-default navbar-btn">
        <%=link_to "My Groups", groups_path %></button>
        <button type="button" class="btn btn-default navbar-btn">
        <%=link_to "My Stories","/stories" %></button>
         <button type="button" class="btn btn-default navbar-btn">
       <%= link_to "Logout", '/logout' %></button></br>
          <strong>Signed in as  <%=current_user.first_name %> <%=current_user.last_name %> </strong>  
     
          <% end %> 
  
        


     
     </div>
   </div>

</body>
</html>