  <!DOCTYPE html>
<html>
<head>
  <title>past lives</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>

<body>


<div class="site-wrapper">
    <% if current_user %>
    <h1>past lives</h1> 
    <%end%>
 
         <%= yield %>
      
        <% if current_user %>
        <button type="button" class="btn btn-default navbar-btn">
          <%=link_to "Home",users_path %></button>
        <button type="button" class="btn btn-default navbar-btn">
        <%=link_to "My Groups", groups_path %></button>
        <button type="button" class="btn btn-default navbar-btn">
        <%=link_to "My Stories",user_stories_path(current_user) %></button>
         <button type="button" class="btn btn-default navbar-btn">
        <%= link_to "Logout", '/logout' %></button></br>
          <strong>Signed in as  <%=current_user.first_name %> <%=current_user.last_name %> </strong>  
     
          <% end %> 
  
        


  </div>

</body>
</html>